In [52]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
titanic_data = pd.read_csv("https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv", index_col = 'PassengerId')

In [3]:
titanic_data.isna().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age         177
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      2
dtype: int64

In [5]:
titanic_data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [6]:
titanic_data.SibSp.value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [9]:
titanic_data.Survived.value_counts() / len(titanic_data)

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [11]:
titanic_data.Fare.median()

14.4542

In [47]:
titanic_data.groupby(['Age']).count()

,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,
0.42,1,1,1,1,1,1,1,1,0,1
0.67,1,1,1,1,1,1,1,1,0,1
0.75,2,2,2,2,2,2,2,2,0,2
0.83,2,2,2,2,2,2,2,2,0,2
0.92,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...
70.00,2,2,2,2,2,2,2,2,1,2
70.50,1,1,1,1,1,1,1,1,0,1
71.00,2,2,2,2,2,2,2,2,1,2
74.00,1,1,1,1,1,1,1,1,0,1
80.00,1,1,1,1,1,1,1,1,1,1

In [49]:
survived_passengers = titanic_data[titanic_data['Survived'] == 1]

In [51]:
survived_passengers.Embarked.value_counts()

S    217
C     93
Q     30
Name: Embarked, dtype: int64

In [62]:
survived_passengers.Ticket.value_counts()

1601                 5
113760               4
2666                 4
347077               3
17421                3
                    ..
PC 17558             1
STON/O2. 3101283     1
110564               1
STON/O 2. 3101288    1
330980               1
Name: Ticket, Length: 260, dtype: int64

In [66]:
titanic_data.Fare.sort_values(ascending = False)

PassengerId
259    512.3292
738    512.3292
680    512.3292
89     263.0000
28     263.0000
         ...
634      0.0000
414      0.0000
823      0.0000
733      0.0000
675      0.0000
Name: Fare, Length: 891, dtype: float64

In [67]:
titanic_data.Age.median()

28.0

In [68]:
titanic_data['Name'].nunique()

891