In [6]:
import pandas as pd
metro = pd.read_csv('Standard Metropolitan Areas Data - train_data - data.csv')

In [7]:
metro.columns

Index(['land_area', 'percent_city', 'percent_senior', 'physicians',
       'hospital_beds', 'graduates', 'work_force', 'income', 'region',
       'crime_rate'],
      dtype='object')

In [8]:
# Drops rows with missing data
metro = metro.dropna(axis = 0)

In [12]:
metro.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,income,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,72100,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,54542,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,33216,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,32906,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,26573,4,80.19

In [13]:
# Sets y to income column and x to all over columns
y = metro.income
x = metro.drop('income', axis = 1)

In [15]:
x.describe()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,region,crime_rate
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,2615.727273,42.518182,9.781818,1828.333333,6345.868687,54.463636,449.366667,2.494949,55.643030
std,3045.826210,17.348277,2.524547,3192.199763,9136.202716,7.773286,610.990885,1.013921,13.470943
min,47.000000,13.400000,3.900000,140.000000,481.000000,30.300000,66.900000,1.000000,23.320000
25%,1408.000000,30.100000,8.350000,459.000000,2390.000000,50.250000,150.300000,2.000000,46.115000
50%,1951.000000,39.500000,9.700000,774.000000,3472.000000,54.000000,257.200000,3.000000,56.060000
75%,2890.500000,52.600000,10.750000,1911.500000,6386.500000,58.300000,436.500000,3.000000,63.860000
max,27293.000000,100.000000,21.800000,25627.000000,69678.000000,72.800000,4083.900000,4.000000,85.620000

In [16]:
x.head()

,land_area,percent_city,percent_senior,physicians,hospital_beds,graduates,work_force,region,crime_rate
0,1384,78.1,12.3,25627,69678,50.1,4083.9,1,75.55
1,3719,43.9,9.4,13326,43292,53.9,3305.9,2,56.03
2,3553,37.4,10.7,9724,33731,50.6,2066.3,1,41.32
3,3916,29.9,8.8,6402,24167,52.2,1966.7,2,67.38
4,2480,31.5,10.5,8502,16751,66.1,1514.5,4,80.19

In [17]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x, y)

DecisionTreeClassifier()

In [19]:
print("Making predictions for the following 5 incomes:")
print(x.head())
print("The predictions are")
print(model.predict(x.head()))

Making predictions for the following 5 incomes:
   land_area  percent_city  percent_senior  physicians  hospital_beds  \
0       1384          78.1            12.3       25627          69678
1       3719          43.9             9.4       13326          43292
2       3553          37.4            10.7        9724          33731
3       3916          29.9             8.8        6402          24167
4       2480          31.5            10.5        8502          16751

   graduates  work_force  region  crime_rate
0       50.1      4083.9       1       75.55
1       53.9      3305.9       2       56.03
2       50.6      2066.3       1       41.32
3       52.2      1966.7       2       67.38
4       66.1      1514.5       4       80.19
The predictions are
[72100 54542 33216 32906 26573]