In [1]:
import numpy as np
import pandas as pd

In [2]:
titanic = pd.read_csv('https://raw.githubusercontent.com/dphi-official/First_ML_Model/master/titanic.csv')

In [3]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
titanic['Sex'] = titanic['Sex'].apply(lambda x: 1 if x == 'male' else 0)

In [5]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [6]:
titanic['Age'] = titanic['Age'].fillna(np.mean(titanic['Age']))

In [7]:
titanic.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [8]:
titanic.Embarked.fillna(value='S', axis = 0, inplace = True)

In [9]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [10]:
# Omit irrelavent columns
titanic = titanic[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare']]

In [23]:
X = titanic.drop('Survived', axis = 1)
y = titanic['Survived']

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [14]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
model.fit(x_train, y_train)

DecisionTreeClassifier()

In [15]:
# The acurracy function lets us know how well our model performs
from sklearn.metrics import accuracy_score
print('Training accuracy...', accuracy_score(y_train, model.predict(x_train)))
print('Test accuracy', accuracy_score(y_test, model.predict(x_test)))

Training accuracy... 0.9798657718120806
Test accuracy 0.7389830508474576

In [17]:
from sklearn.tree import export_graphviz
import graphviz

In [18]:
dot_data = export_graphviz(model, out_file = None,
feature_names = x_test.columns,
class_names = ['0', '1'],
filled = True, rounded = True,
special_characters = True)

In [19]:
graph1 = graphviz.Source(dot_data)

In [ ]:
graph1

In [21]:
model_improved = DecisionTreeClassifier(max_depth = 3)
model_improved.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=3)

In [22]:
print('train score...' , accuracy_score(y_train, model_improved.predict(x_train)))
print('test score...', accuracy_score(y_test, model_improved.predict(x_test)))

train score... 0.8238255033557047
test score... 0.8203389830508474